:root {
	--theme-color: #2aa070;
	--logo-color: #333333;
	--cover-background-image: radial-gradient(150% 150% at 0% 0%, #efb 1%, #ddd 100%);
	--cover-img-border-color: #2aa07040;
	--cover-demo-color: #304040;
	--preview-color: #80808030;
	--plotery-base-color: var(--base-color);
}

:root.dark {
	--theme-color: #42B983;
	--logo-color: #fff;
	--cover-background-image: radial-gradient(150% 150% at 0% 0%, #6d745b 1%, #2b2b2b 100%);
	--cover-demo-color: #c0f0e0;
	--preview-color: #00000050;
	--plotery-base-color: var(--base-color);
	--plotery-backdrop-color: var(--base-background-color);
	--plotery-backdrop-opacity: 0.5;
	--plotery-outline-opacity: 0.4;
	--plotery-major-opacity: 0.3;
	--plotery-minor-opacity: 0.15;
}

.cover .plotery {
	position: absolute;
	height: 30vh;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
}

.cover .plotery .a path {
	opacity: 0.3;
}

.cover .plotery .b path {
	opacity: 0.1;
}

.cover .plotery path.line {
	stroke: var(--cover-demo-color) !important;
	transition: 1s all ease;
}

.cover .plotery path.area {
	fill: url(#demo-gradient) !important;
	transition: 1.5s all ease;
}

#demo-gradient {
	--color-stop: var(--cover-demo-color);
}

@media screen and (max-width:768px) {
	.preview {
		padding: 0;
	}
}

.content .plotery {
	min-height: 300px;
	max-width: 500px;
	width: 100%;
	margin-top: 40px;
	fill: var(--base-color);
}

