:root {
	--theme-color: #D02030;
	--logo-color: #333333;
	--cover-background-image: radial-gradient(150% 150% at 0% 0%, #d0b0b0 1%, #dddddd 100%);
	--input-color: #000000;
	--preview-color: #80808030;
	--preview-pre-color: #80808010;
	--input-bg-color: rgba(0,0,0,0.03);
	--input-border-color: rgba(0,0,0,0.1);
	--input-border-hover-color: rgba(0,0,0,0.3);
	--input-border-focus-color: #906080;
	--input-bg-focus-color: rgba(0, 0, 0, 0.07);
	--button-bg-color: #D020301C;
	--button-bg-hover-color: #D0203028;
	--button-bg-active-color: #D0203050;
	--submit-bg-color: #D02030;
	--submit-bg-image-color: linear-gradient(135deg, var(--submit-bg-color), #906080);
	--submit-bg-hover-color: #e02838;
	--submit-bg-image-hover-color: linear-gradient(135deg, var(--submit-bg-hover-color), #a07090);
	--submit-bg-active-color: #801020;
	--submit-bg-image-active-color: linear-gradient(135deg, var(--submit-bg-active-color), #502840);
}

:root.dark {
	--theme-color: #FF4050;
	--logo-color: #fff;
	--cover-background-image: radial-gradient(150% 150% at 0% 0%, #5a3030 1%, #2b2b2b 100%);
	--input-color: #fff;
	--preview-color: #00000050;
	--preview-pre-color: #00000018;
	--input-bg-color: var(--mono-tint3);
	--input-border-color: var(--mono-tint2);
	--input-bg-color: rgba(255,255,255,0.03);
	--input-border-color: rgba(255,255,255,0.1);
	--input-border-hover-color: rgba(255,255,255,0.3);
	--input-border-focus-color: #906080;
	--input-bg-focus-color: rgba(255,255,255, 0.07);
	--button-bg-color: #FF737F28;
	--button-bg-hover-color: #FF737F40;
	--button-bg-active-color: #FF737F18;
	--submit-bg-color: #D02030;
	--submit-bg-image-color: linear-gradient(135deg, var(--submit-bg-color), #906080);
	--submit-bg-hover-color: #e02838;
	--submit-bg-image-hover-color: linear-gradient(135deg, var(--submit-bg-hover-color), #a07090);
	--submit-bg-active-color: #801020;
	--submit-bg-image-active-color: linear-gradient(135deg, var(--submit-bg-active-color), #502840);
}

.preview > :first-child {
	margin-left: auto;
}

.preview > :last-child {
	margin-right: auto;
}

.preview .row {
	display: flex;
	align-items: center;
	gap: 1em;
}

.preview .row.end {
	justify-content: end;
}

.preview pre {
	margin: 0;
	padding: 1em 2em;
	display: flex;
	align-items: center;
	width: 50%;
	background-color: var(--preview-pre-color);
	overflow-x: auto;
}

@media screen and (max-width:1280px) {
	.preview {
		flex-direction: column;
	}

	.preview > * {
		margin: 0 auto;
	}

	.preview > pre {
		width: inherit;
		margin: 0 !important;
	}
}

@media screen and (max-width:768px) {
	.preview {
		padding: 1em;
	}
}

.preview form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 500px;
	max-width: 100%;
}

.preview label {
	display: flex;
	align-items: baseline;
	justify-content: end;
}

.preview .row label {
	flex: 1;
}

.preview input, .preview select, .preview textarea, .preview button {
	font-family: inherit;
	font-size: inherit;
}

.preview input, .preview textarea {
	margin: 0 0 0 0.5em;
	padding: 7px 10px;
	flex: 1;
	max-width: calc(100% - 85px);
	color: var(--input-color);
	background-color: var(--input-bg-color);
	outline: none;
	border: none;
	border-bottom: 3px solid var(--input-border-color);
	border-radius: 2px;
	transition: border-color 200ms ease;
}

.preview input:hover, .preview textarea:hover {
	border-color: var(--input-border-hover-color);
}

@keyframes input-focus {
	50% {
		background-color: var(--input-bg-focus-color);
	}
}

.preview input:focus, .preview textarea:focus {
	border-color: var(--input-border-focus-color);
	animation: input-focus 0.7s;
}

.preview .validated input:invalid, .preview .validated textarea:invalid, .preview .touched.invalid input, .preview .touched.invalid textarea {
	color: var(--theme-color);
	border-color: var(--theme-color);
}

.preview input[disabled], .preview textarea[disabled] {
	cursor: not-allowed;
	border-bottom-style: dotted;
	color: #a0a0a0;
}

.preview input[type="checkbox"] {
	flex: 0;
	min-width: 20px;
	min-height: 20px;
	align-self: center;
	padding: 0;
	margin: 0 0.5em 0 0;
	appearance: none;
	border: 3px solid var(--input-border-color);
	background-origin: border-box;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	transition: box-shadow 300ms ease;
}

.preview input[type="checkbox"]:checked {
	background-color: var(--theme-color);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path fill="none" stroke="white" stroke-width="3px" d="m3.4,10.2l3.9,3.9l9.1,-8.9" /></svg>'), linear-gradient(135deg, var(--theme-color), #906080);
	border-color: transparent;
}

.preview input[type="checkbox"]:checked:hover {
	background-color: #c01828;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path fill="none" stroke="white" stroke-width="3px" d="m3.4,10.2l3.9,3.9l9.1,-8.9" /></svg>'), linear-gradient(135deg, #c01828, #805070);
}

.preview input[type="checkbox"]:checked:focus {
	box-shadow: 0 0 0 5px rgba(160, 160, 160, 0.2), 0 1px 5px rgba(0, 0, 0, 0.3);
}

.preview button {
	padding: 0 20px;
	height: 37px;
	align-self: end;
	color: var(--theme-color);
	background-color: var(--button-bg-color);
	outline: none;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	font-weight: bold;
}

.preview button:hover {
	background-color: var(--button-bg-hover-color);
}

.preview button:focus {
	box-shadow: inset 0 0 1px var(--button-bg-active-color);
}

.preview button:active {
	background-color: var(--button-bg-active-color);
}

.preview button[type="submit"] {
	color: white;
	background-color: var(--submit-bg1-color);
	background-image: var(--submit-bg-image-color);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	transition: box-shadow 300ms ease;
}

.preview button[type="submit"]:hover {
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
	background-color: var(--submit-bg1-hover-color);
	background-image: var(--submit-bg-image-hover-color);
}

.preview button[type="submit"]:focus {
	box-shadow: 0 0 0 5px rgba(160, 160, 160, 0.2), 0 1px 5px rgba(0, 0, 0, 0.3);
}

.preview button[type="submit"]:active {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	background-color: var(--submit-bg1-active-color);
	background-image: var(--submit-bg-image-active-color);
	transition: box-shadow 0ms ease;
}

.preview .form-input {
	flex: 1;
	min-height: 37px;
	max-width: 400px;
	justify-content: stretch;
	display: flex;
	flex-direction: column;
	text-align: left;
	min-height: 90px;
}

.preview .form-input label {
	font-size: 14px;
	justify-content: start;
	opacity: 0.8;
}

.preview .form-input input {
	margin: 2px 0;
	flex: 0;
	max-width: 100%;
}

@keyframes fadein {
	from {
		opacity:0;
		top: -3px;
	}
	to {
		opacity:1;
		top: 0;
	}
}

.preview .form-input span {
	color: var(--theme-color);
	white-space: nowrap;
	font-size: 14px;
	animation: fadein 0.3s;
	position: relative;
	left: 0;
}

.preview label.checkbox {
	justify-content: start !important;
}

.preview label.checkbox input {
	margin-left: 90px;
}

