:root {
	--mono-tint1: #80808050;
	--mono-tint2: #80808030;
	--mono-tint3: #80808010;
	--mono-shade1: #000000A0;
	--mono-shade2: #000000C0;
	--mono-shade3: #000000FF;
	--base-font-family: "Source Sans Pro";
	--code-font-family: "Source Code Pro";
	--code-block-margin: 1.2em 0;
	--code-font-size: 14px;
	--code-inline-background: var(--mono-tint2);
	--code-theme-background: var(--mono-tint3);
	--code-theme-comment: #a0a1a7;
	--code-theme-function: #a05a48;
	--code-theme-keyword: #e96900;
	--code-theme-operator: #777;
	--code-theme-punctuation: #777;
	--code-theme-tag: #2973b7;
	--code-theme-value: #309d6c;
	--code-theme-selector: #5522bb;
	--code-theme-text: #333;
	--code-theme-variable: #d52753;
	--border-radius-s: 2px;
	--border-radius-m: 4px;
	--border-radius-l: 8px;
	--link-color: var(--theme-color);
	--link-text-decoration: underline dotted;
	--link-text-decoration--hover: underline;
	--strong-font-weight: bold;
	--blockquote-padding: 1em 1.5em;
	--blockquote-border-color: var(--theme-color);
	--blockquote-border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
	--blockquote-border-width: 0 0 0 4px;
	--heading-font-weight: var(--strong-font-weight);
	--heading-color: #34495e;
	--heading-h1-font-weight: 600;
	--heading-h2-font-weight: 600;
	--heading-h3-font-weight: 600;
	--heading-h4-font-weight: 600;
	--heading-h1-border-style: none;
	--heading-h2-border-style: none;
	--heading-h3-border-style: none;
	--heading-h4-border-style: none;
	--heading-h1-padding: 0;
	--heading-h2-padding: 0;
	--heading-h3-padding: 0;
	--heading-h4-padding: 0;
	--heading-h1-margin: 2.5rem 0 0;
	--heading-h2-margin: 2rem 0 1.5rem 0;
	--heading-h3-margin: 2rem 0 1rem 0;
	--heading-h4-margin: 1.5rem 0 0.5rem 0;
	--kbd-border: 1px solid var(--mono-tint2);
	--notice-border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
	--notice-border-width: 0 0 0 4px;
	--notice-padding: 1em 1.5em;
	--notice-before-border-radius: 100%;
	--notice-before-font-weight: bold;
	--notice-before-height: 1.5em;
	--notice-before-left: calc(var(--notice-before-width) / -2 - 2px);
	--notice-before-line-height: 1.5;
	--notice-before-margin: 0 0.25em 0 0;
	--notice-before-position: absolute;
	--notice-before-width: var(--notice-before-height);
	--notice-important-background: #ff666618;
	--notice-important-border-color: #ff6666;
	--notice-important-before-background: var(--notice-important-border-color) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="white" d="M10 14a2 2 0 0 1-2 2 2 2 0 0 1-2-2c0-1.1.9-2 2-2a2 2 0 0 1 2 2ZM10 1.6c0-.4-.2-.7-.4-.9C9.2.3 8.6 0 8 0c-.6 0-1.2.2-1.5.6-.3.3-.5.6-.5 1v.3l.8 7.7c.1.3.2.5.4.6.2.2.5.3.8.3l.8-.2.4-.7.8-7.7v-.3Z"/></svg>') center / 0.875em no-repeat;
	--notice-important-before-color: #fff;
	--notice-important-before-content: "";
	--notice-tip-background: #42B98318;
	--notice-tip-border-color: #42B983;
	--notice-tip-before-background: var(--notice-tip-border-color) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="white" d="M9.1 0c1.1 0 1.6.7 1.6 1.6 0 1-.9 2-2.1 2C7.6 3.6 7 3 7 2c0-.9.7-2 2.1-2ZM5.8 16c-.8 0-1.4-.5-.8-2.8l.9-4.1c.2-.6.2-.9 0-.9s-1.3.4-2 .9l-.4-.7a11 11 0 0 1 5.4-2.8c.9 0 1 1 .6 2.6l-1.1 4.3c-.2.7-.1 1 .1 1s1.1-.3 1.9-1l.5.7A9 9 0 0 1 5.8 16Z"/></svg>') center / 0.875em no-repeat;
	--notice-tip-before-color: #fff;
	--notice-tip-before-content: "";
	--table-head-border-width: 1px;
	--table-cell-border-color: var(--mono-tint2);
	--table-cell-border-width: 1px;
	--table-cell-padding: 0.3em 0.5em;
	--cover-color: #dcc;
	--cover-background-color: hsl(var(--theme-hue), 25%, 60%);
	--cover-background-image: radial-gradient(ellipse at center 115%, rgba(255, 255, 255, 0.9), transparent);
	--cover-blockquote-color: var(--strong-color);
	--cover-heading-color: #34495e;
	--cover-heading-font-size-max: 56;
	--cover-heading-font-size-min: 34;
	--cover-heading-font-weight: 200;
	--cover-button-border-radius: 2rem;
	--cover-button-color: var(--base-color);
	--cover-button-color--hover: #000;
	--cover-button-background--hover: #fff;
	--cover-button-border--hover: 1px solid #fff;
	--navbar-root-color--hover: var(--theme-color);
	--navbar-root-color--active: var(--theme-color);
	--navbar-menu-border-radius: var(--border-radius-m);
	--navbar-menu-root-background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9.6" height="6" viewBox="0 0 9.6 6"><path d="M1.5 1.5l3.3 3 3.3-3" stroke-width="1.5" stroke="rgb(179, 179, 179)" fill="none" stroke-linecap="square" stroke-linejoin="miter" vector-effect="non-scaling-stroke"/></svg>') right no-repeat;
	--navbar-menu-root-padding: 0 18px 0 0;
	--search-margin: 12px 0 0 0;
	--search-input-background-color: #fff;
	--search-input-background-image: url('data:image/svg+xml;utf8,<svg height="20px" width="20px" viewBox="0 0 24 24" fill="none" stroke="rgba(0, 0, 0, 0.3)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5" cy="10.5" r="7.5" vector-effect="non-scaling-stroke"></circle><line x1="21" y1="21" x2="15.8" y2="15.8" vector-effect="non-scaling-stroke"></line></svg>');
	--search-input-background-position: 21px center;
	--search-input-border-color: var(--sidebar-border-color);
	--search-input-border-width: 1px 0;
	--search-input-margin: 0 -25px;
	--search-input-padding: 0.65em 1em 0.65em 50px;
	--search-input-placeholder-color: rgba(0, 0, 0, 0.4);
	--search-clear-icon-color1: rgba(0, 0, 0, 0.3);
	--search-result-heading-font-weight: var(--strong-font-weight);
	--search-result-item-border-color: var(--sidebar-border-color);
	--search-result-keyword-border-radius: var(--border-radius-s);
	--sidebar-background: var(--mono-tint3);
	--sidebar-border-color: var(--mono-tint2);
	--sidebar-border-width: 0 1px 0 0;
	--sidebar-name-color: var(--theme-color);
	--sidebar-name-font-weight: 300;
	--sidebar-nav-strong-border-width: 0 0 1px 0;
	--sidebar-nav-strong-font-size: smaller;
	--sidebar-nav-strong-margin: 2em -25px 0.75em 0;
	--sidebar-nav-strong-padding: 0.25em 0 0.75em 0;
	--sidebar-nav-strong-text-transform: uppercase;
	--sidebar-nav-link-border-color: transparent;
	--sidebar-nav-link-border-color--active: var(--theme-color);
	--sidebar-nav-link-border-width: 0 4px 0 0;
	--sidebar-nav-link-color--active: var(--theme-color);
	--sidebar-nav-link-margin: 0 -25px 0 0;
	--sidebar-nav-link-text-decoration: none;
	--sidebar-nav-link-text-decoration--active: none;
	--sidebar-nav-link-text-decoration--hover: underline;
	--sidebar-nav-link-before-content-l3: ;
	--sidebar-nav-pagelink-background: no-repeat 2px calc(50% - 2.5px) / 6px 5px linear-gradient(45deg, transparent 2.75px, var(--mono-tint1) 2.75px 4.25px, transparent 4px), no-repeat 2px calc(50% + 2.5px) / 6px 5px linear-gradient(135deg, transparent 2.75px, var(--mono-tint1) 2.75px 4.25px, transparent 4px);
	--sidebar-nav-pagelink-background--active: no-repeat 0px center / 5px 6px linear-gradient(225deg, transparent 2.75px, var(--theme-color) 2.75px 4.25px, transparent 4.25px), no-repeat 5px center / 5px 6px linear-gradient(135deg, transparent 2.75px, var(--theme-color) 2.75px 4.25px, transparent 4.25px);
	--sidebar-nav-pagelink-background--collapse: no-repeat 2px calc(50% - 2.5px) / 6px 5px linear-gradient(45deg, transparent 2.75px, var(--theme-color) 2.75px 4.25px, transparent 4px), no-repeat 2px calc(50% + 2.5px) / 6px 5px linear-gradient(135deg, transparent 2.75px, var(--theme-color) 2.75px 4.25px, transparent 4px);
	--sidebar-nav-pagelink-background--loaded: no-repeat 0px center / 5px 6px linear-gradient(225deg, transparent 2.75px, var(--mono-tint1) 2.75px 4.25px, transparent 4.25px), no-repeat 5px center / 5px 6px linear-gradient(135deg, transparent 2.75px, var(--mono-tint1) 2.75px 4.25px, transparent 4.25px);
	--sidebar-nav-pagelink-padding: 0.25em 0 0.25em 20px;
	--sidebar-nav-pagelink-transition: none;
	--sidebar-toggle-background: var(--sidebar-border-color);
	--sidebar-toggle-border-radius: 0 var(--border-radius-s) var(--border-radius-s) 0;
	--sidebar-toggle-width: 32px;
}

:root.dark {
	--mono-hue: 201;
	--mono-saturation: 18%;
	--mono-base: hsl(var(--mono-hue), var(--mono-saturation), 19%);
	--mono-tint1: #FFFFFF18;
	--mono-tint2: #FFFFFF30;
	--mono-tint3: #FFFFFF50;
	--mono-shade1: #00000018;
	--mono-shade2: #00000030;
	--mono-shade3: #00000050;
	--code-inline-background: var(--mono-tint1);
	--code-theme-background: var(--mono-shade2);
	--code-theme-comment: #707176;
	--code-theme-function: #ff743e;
	--code-theme-keyword: #ffbd3e;
	--code-theme-operator: #bbb;
	--code-theme-punctuation: #bbb;
	--code-theme-selector: #bd9cff;
	--code-theme-tag: #7edbff;
	--code-theme-text: #f3f3f3;
	--code-theme-value: #75ffc1;
	--code-theme-variable: #ff688e;
	--spinner-track-color: rgba(255, 255, 255, 0.15);
	--base-background-color: var(--mono-base);
	--base-color: #d3d3d3;
	--hr-border: 1px solid var(--mono-tint2);
	--mark-background: #ffcb6b;
	--mark-color: var(--base-background-color);
	--selection-color: rgba(94, 131, 175, 0.75);
	--blockquote-background: var(--mono-shade2);
	--heading-color: #fff;
	--heading-h2-border-color: var(--mono-tint2);
	--kbd-background: var(--mono-shade2);
	--kbd-border: none;
	--kbd-color: var(--strong-color);
	--notice-important-background: var(--mono-shade2);
	--notice-tip-background: var(--mono-shade2);
	--table-cell-border-color: var(--mono-tint1);
	--table-row-odd-background: var(--mono-shade2);
	--cover-background-color: var(--base-background-color);
	--cover-background-image: radial-gradient(ellipse at center bottom, var(--mono-tint3), transparent);
	--cover-blockquote-color: var(--mark-background);
	--cover-heading-color: #fff;
	--cover-button-color: #fff;
	--cover-button-border: 1px solid var(--theme-color);
	--navbar-menu-background: var(--mono-tint1);
	--navbar-menu-box-shadow: rgba(0,0,0,0.05) 0px 0px 1px, rgba(0,0,0,0.05) 0px 1px 2px, rgba(0,0,0,0.05) 0px 2px 4px, rgba(0,0,0,0.05) 0px 4px 8px, rgba(0,0,0,0.05) 0px 8px 16px, rgba(0,0,0,0.05) 0px 16px 32px;
	--copycode-background: var(--mono-tint1);
	--copycode-color: #fff;
	--docsifytabs-border-color: var(--mono-tint2);
	--docsifytabs-tab-background: var(--mono-shade1);
	--docsifytabs-tab-color: var(--mono-tint2);
	--pagination-border-top: 1px solid var(--mono-tint2);
	--search-input-background-color: var(--mono-shade2);
	--search-input-background-image: url('data:image/svg+xml;utf8,<svg height="20px" width="20px" viewBox="0 0 24 24" fill="none" stroke="rgba(255, 255, 255, 0.3)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5" cy="10.5" r="7.5" vector-effect="non-scaling-stroke"></circle><line x1="21" y1="21" x2="15.8" y2="15.8" vector-effect="non-scaling-stroke"></line></svg>');
	--search-input-border-color: var(--mono-tint1);
	--search-input-placeholder-color: rgba(255, 255, 255, 0.4);
	--search-clear-icon-color1: rgba(255, 255, 255, 0.3);
	--sidebar-background: var(--mono-shade1);
	--sidebar-border-color: var(--mono-tint1);
	--sidebar-nav-pagelink-background: no-repeat 2px calc(50% - 2.5px) / 6px 5px linear-gradient(45deg, transparent 2.75px, var(--mono-tint2) 2.75px 4.25px, transparent 4px), no-repeat 2px calc(50% + 2.5px) / 6px 5px linear-gradient(135deg, transparent 2.75px, var(--mono-tint2) 2.75px 4.25px, transparent 4px);
	--sidebar-nav-pagelink-background--loaded: no-repeat 0px center / 5px 6px linear-gradient(225deg, transparent 2.75px, var(--mono-tint2) 2.75px 4.25px, transparent 4.25px), no-repeat 5px center / 5px 6px linear-gradient(135deg, transparent 2.75px, var(--mono-tint2) 2.75px 4.25px, transparent 4.25px);
}

body {
	tab-size: 4;
}

.app-name svg .text path {
	fill: var(--logo-color) !important;
}

.token.string, .token.char, .token.attr-value {
	color :var(--code-theme-value);
}

.token a {
	color: inherit;
	font-weight: inherit;
	text-decoration: underline dotted;
}

.token a:hover {
	text-decoration: underline;
}

.markdown-section {
	max-width: calc(65% + 200px);
}

.markdown-section a:hover {
	text-decoration-color: var(--theme-color) !important;
}

.markdown-section h1::before, .markdown-section h2::before, .markdown-section h3::before, .markdown-section h4::before {
	content: '#';
	position: absolute;
	left: 10px;
	color: var(--theme-color);
}

@media screen and (max-width:768px) {
	.markdown-section {
		max-width: 100%;
		padding: 3em 20px 0 20px;
	}

	.markdown-section h1::before, .markdown-section h2::before, .markdown-section h3::before, .markdown-section h4::before {
		display: none;
	}
}

.pagination-item-title {
	font-weight: bold;
}

.docsify-pagination-container {
	overflow: inherit !important;
}

.pagination-item a {
	display: block;
}

.app-nav {
	display: flex;
	justify-content: end;
	align-items: center;
}

.app-nav > ul > li:last-child {
	font-weight: bold;
}

button.theme-switcher {
	display: flex;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}

button.theme-switcher svg {
	fill: none;
	stroke: var(--base-color);
}

button.theme-switcher:hover svg {
	stroke: var(--theme-color);
}

.app-nav button.theme-switcher {
	margin: 0 1.5em 0 0;
}

.content button.theme-switcher {
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 1;
}

.preview {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 2em;
	border: 3px solid var(--preview-color);
	border-radius: 3px;
	padding: 2em;
	margin: var(--code-block-margin);
	overflow: auto;
}
